@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
  background-color: rgb(72, 71, 71);
}

/* NAVIGATION */

li a {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight:bold;
  


}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10%;
  background-color: rgb(1, 11, 28);
  padding: 0px 10vw ;
  
}

/* nav {
  position:fixed;
} */

#logo {
  cursor:pointer;
  margin-right: auto;
  font-family: 'Shadows Into Light', cursive;
  font-size: 65px;
  font-weight: bold;
  color: #00B4FF;
  text-shadow:1px 1px 10px #009bde;
  
}

#nav-flex li {
  display: inline-block;
  list-style: none;
  padding: 0px 30px;
  
}

#nav-flex li a {
  color: #E9EDDE;
  transition: all 0.1s ease .1s;
  border: 2px solid #E9EDDE;
  border-radius: 6px;
  padding: 6px;

}

#nav-flex li a:hover {
  color: #00B4FF;
  border: 2px solid #00B4FF;
  box-shadow: 3px 2px 5px #009bde;
  text-shadow: 1px 1px 6px #009bde ;
  
}




/* HOME */

#home {
  display: flex;
  margin: 0px 65px;
  height: 850px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url('/Images/BlueNightSky.jpg');
  background-size: cover;
  margin: 0px 0px 0px 0px;
}

#home h1 {
  color: #E9EDDE;
  font-family: 'Nunito', sans-serif;
  font-size: 60px;
  margin-top: 50px;
}

#home p {
  color: #E9EDDE;
  font-size: 30px;
  margin: 0px 5px 100px 5px;
  text-align:center ;
  font-family: 'Nunito', sans-serif;;
}

/* Projects */

#projects {
  display: flex;
  flex-direction: column;
  background-color: rgb(2, 3, 3);
  margin: 0px;
  height: 950px;
  justify-content: space-between;
  align-items: center;

}

#projects h2 {
  /* color: #E9EDDE; */
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  margin: 80px auto 0px 30px;
  color: #00B4FF;
  text-shadow:1px 1px 10px #009bde;
}

.project-div{
  background-color: #E9EDDE;
  width: 60%;
  height: 20%;
  margin: 20px;
  border-radius: 6px;
  box-shadow: 3px 3px 5px #aeaeae;
  display: grid; 
  grid-template-columns: 3fr 2fr 1fr; 
  grid-template-rows: 1fr; 
  grid-column-gap: 2px;
  grid-row-gap: 0px; 
}

.project-div li {
  list-style: none;
  font-size: 30px;
}



/* Contact */

#contact {
  display: flex;
  flex-direction: column;
  background-color: rgb(2, 3, 3);
  margin: 0px;
  height: 950px;

}

#contact h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  margin: 80px auto 0px 30px;
  color: #00B4FF;
  text-shadow:1px 1px 10px #009bde;
}
