@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');



body {
    font-family: 'Nunito', sans-serif;
}

html {
    overflow-x: hidden;
}

#jumbotron {
    background-image: url("/Images/ales-nesetril-Im7lZjxeLhg-unsplash.jpg");
    background-size: cover;
    height:100vmin;
}

#logo {
color: #3a9aee;
font-family: 'Shadows Into Light', cursive;
font-size: 3em;
font-weight: bold;
color: #00B4FF;
text-shadow:1px 1px 10px #009bde;
}

#navbar {
    background-color: black;
}

#contact {
    height: 45vh; 
} 

#proj {
    height: ;
}